.card {
    width: 65%;
    margin: 1rem auto;
}

.user-info-wrapper {
    display: flex;
    padding: 10px;
}

.user-avatar {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.news-date {
    font-size: 14px;
}